.App {
  text-align: center;
}

.App-header {
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App h1 {
  color: #5bc0de;
  font-family: "Chalkduster";
  letter-spacing: 5px;
}

.App p {
  color: #424d61;
  text-align: center;
}

.App span {
  background-color: #337ab7;
  color: white;
  border-radius: .25em;
  padding: .2em .6em .3em;
  font-weight: 700px;
  margin-right: .35em;
}

.App textarea {
  background-color: white;
  min-width: 100%; 
  min-height: 390px; /* Do as a percentage instead so it fits on all screens? */
  display: block;
  border: 2px solid grey;
  border-radius: .25em;
  padding: 15px;
  font-size: 16px;
  transition: all 0.5s ease-out;
  line-height: 20px;
}

.App textarea:hover{
  background-color: white;
  min-height: 425px; 
  display: block;
  border: 2px solid grey;
  transition: all 0.5s ease-in;
  box-shadow: 5px 10px 18px black;
}



