.App {
  text-align: center;
}

.App-header {
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App h1 {
  color: #5bc0de;
  font-family: "Chalkduster";
  letter-spacing: 5px;
}

.App p {
  color: #424d61;
  text-align: center;
}

.App textarea {
  min-width: 750px; /* Do as a percentage instead so it fits on all screens? */
  min-height: 350px; /* Do as a percentage instead so it fits on all screens? */
  display: center;
  border: 2px solid grey;
  border-radius: 1.5%;
  padding: 15px;
  font-size: 16px;
}

/* .App h2 {
  color: black;
} */


