.App {
  text-align: center;
}

.App-header {
  /* background-color: lightgrey; */
  background-image: url("https://wallpaperaccess.com/full/2721430.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App h1 {
  color: #4267B2;
  font-family: "Chalkduster";
  letter-spacing: 5px;
  margin-bottom: 40px;
}

.App p {
  font-family:  "Courier New', monospace";
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  visibility: visible;
}

.App span {
  background-color: #4267B2;
  color: white;
  border-radius: .25em;
  padding: .2em .6em .3em;
  font-weight: 700px;
  margin-right: .35em;
}

.App textarea {
  /* min-width: 100%; 
  max-height: 100%; */
  min-height: 390px; 
  max-height: 390px;
  display: block;
  background-color: white;
  border: 2px solid black;
  border-radius: .25em;
  padding: 15px;
  font-size: 16px;
  transition: all 0.5s ease-out;
  line-height: 20px;
}

.App textarea:hover{
  background-color: white;
  min-height: 425px; 
  display: block;
  border: 2px solid grey;
  transition: all 0.5s ease-in;
  box-shadow: 5px 10px 18px black;
}

.App button {
  font-family:  "Marker Felt, fantasy";
  background-color: #4267B2;;
  color: white;
  border: 2px solid black;
  padding: 7px 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: .3s ease-out;
  border-radius: .25em;
}

.App button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: .3s ease-in;
}

.App button:active {
  background-color: whitesmoke;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}



